@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --blue: #2b3252;
  --red: #ef5555;
  --white: #ffffff;
  --shadow: #eaecf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  min-height: 100vh;
  grid-gap: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  scroll-behavior: smooth;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: 700;
  position: relative;
  display: block;
}

a:visited {
  color: var(--red);
}

.nav {
  width: 75%;
  max-height: 4.25rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .icon {
  width: 15%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.3%;
  flex-wrap: wrap;
}

.search__input {
  border: none;
  box-shadow: 0px 3px 1px var(--shadow);
  width: 13.125rem;
  min-height: 1.875rem;
  font-size: 0.875rem;
}

.search__icon {
  position: relative;
  right: 1.25rem;
}

.footer {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-row-start: 6;
  grid-row-end: 7;
  padding-bottom: 3.125rem;
}

.footer__logo {
  display: flex;
  width: 207px;
  height: 68px;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  min-height: 6.25rem;
}

.footer__center {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 25%;
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  position: relative;
  top: 3.125rem;
}

.inputs {
  display: flex;
  gap: 1.25rem;
  width: 100%;
}

.form__button {
  position: relative;
  bottom: 3.5rem;
  left: 75%;
  width: 20%;
  height: 2.625rem;
  background: var(--red);
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--white);
}

.textarea {
  width: 100%;
}

textarea::placeholder {
  position: relative;
  top: 1.25rem;
}

#image__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

#services__section {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 3.125rem;
  gap: 2.5rem;
}

#news__section {
  width: 100%;
  background-color: #f8f8fa;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about__section {
  width: 75%;
  display: flex;
  gap: 6rem;
}

.image__container {
  max-width: 100%;
}

.image {
  max-width: 100%;
  height: 48.75rem;
  object-fit: cover;
  position: relative;
  top: 2.5rem;
  filter: brightness(50%);
}

.image__box {
  width: 98%;
  height: 6.25rem;
  background-color: var(--blue);
  position: relative;
  left: 1%;
  z-index: -1;
  bottom: 3.125rem;
}

.image__text__container {
  width: 90%;
  height: 48.75rem;
  position: absolute;
  top: 25.75rem;
}

.image__text {
  font-weight: 700;
  color: var(--white);
  width: 40%;
  font-family: "Montserrat", sans-serif;
}

.image__text h1 {
  font-size: 3.875rem;
  line-height: 76px;
  text-transform: uppercase;
}

.image__text p {
  font-size: 1rem;
  line-height: 160%;
  margin-top: 1.25rem;
  opacity: 0.7;
}

.image__text button {
  width: 20%;
  height: 2.625rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  margin-top: 1.25rem;
  color: var(--white);
}

.services {
  display: flex;
  justify-content: space-between;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: center;
  gap: 1.875rem;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.563rem;
  text-align: center;
  color: #000000;
}

.services__header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.063rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.news__header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.063rem;
  text-transform: uppercase;
  color: #000000;
}

.news__head {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 3.25rem;
}

.news__head button {
  background-color: #f8f8fa;
  border: none;
}

.buttons {
  display: flex;
  gap: 0.625rem;
}

.left__button svg path {
  fill: #2b3252;
}

.left__button:disabled svg path {
  fill: #ccc;
}

.card__carousel {
  display: flex;
  width: 100%;
  position: relative;
  left: 12.75%;
}

.card {
  width: 23.25%;
  height: 35rem;
  margin-right: 1.875rem;
  background: linear-gradient(
    205.96deg,
    rgba(67, 26, 26, 0) -7.14%,
    #431a1a 121.86%
  );
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.card__text {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  left: 1.25rem;
}

.card h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 41px;
  color: var(--white);
}

.card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: var(--white);
  opacity: 0.8;
}

.card button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--white);
  width: 40%;
  height: 2.625rem;
}

.card__box {
  width: 22%;
  height: 100px;
  background-color: #ef5555;
  position: relative;
  top: 35.625rem;
  right: 25.5%;
}

.about__image__container {
  width: 40%;
  height: 40rem;
}

.about__image {
  width: 100%;
  object-fit: fit;
  filter: brightness(80%);
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.about__text p {
  width: 70%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 160%;
  color: #2b3252;
}

.about__text h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 49px;
  color: #000000;
}

.about__text button {
  width: 15%;
  height: 7%;
  border: 1px solid #ef5555;
  border-radius: 0.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  color: #ef5555;
  background-color: var(--white);
}

.about__image__box {
  width: 98%;
  height: 7.5rem;
  border: 1px solid #000;
  position: relative;
  z-index: -1;
  left: 0.313rem;
  bottom: 7.188rem;
}

.container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 4rem;
  height: 1rem;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 0.5rem;
}

.change .bar1 {
  transform: translate(0, 22px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -22px) rotate(45deg);
}

@media only screen and (max-width: 1312px) {
  .nav .icon {
    width: 25%;
  }

  .search__input,
  .search__icon {
    display: none;
  }

  .links {
    flex-direction: column;
    display: none;
    text-align: center;
  }

  .links a {
    margin: 0.5rem 0;
  }

  .visible__links {
    display: block;
  }

  .container {
    display: block;
  }

  #image__section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image__container {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: 2.5rem;
    filter: brightness(50%);
  }

  .image__box {
    width: 98%;
    height: 6.25rem;
    background-color: var(--blue);
    position: relative;
    left: 1%;
    z-index: -1;
    bottom: 3.125rem;
  }

  .image__text__container {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .image__text {
    font-weight: 700;
    width: 40%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
  }

  .image__text h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 1.5rem;
    line-height: 160%;
    margin-top: 1.25rem;
    opacity: 0.7;
  }

  .image__text button {
    width: 50%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1.25rem;
    color: var(--white);
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

  .footer__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 33.3%;
  }

  .footer__links {
    display: flex;
    gap: 1rem;
  }

  .form {
    width: 33.3%;
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
  }

  .inputs {
    display: flex;
    gap: 1.25rem;
    width: 100%;
  }

  #about__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__image__container {
    width: 50%;
  }

  .about__image {
    width: 100%;
    object-fit: fit;
    filter: brightness(80%);
  }

  .about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 2rem;
  }

  .about__text p {
    font-size: 1.25rem;
    line-height: 160%;
  }

  .about__text h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
    color: #000000;
  }

  .about__text button {
    width: 25%;
    height: 10%;
    font-size: 1rem;
  }

  .about__image__box {
    left: 1%;
  }

  .card__carousel {
    display: flex;
    width: 100%;
    position: relative;
    left: 12.75%;
  }

  .card {
    width: 33%;
  }

  .card__text {
    width: 70%;
  }

  .card h3 {
    font-size: 2.25rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card__box {
    width: 31.5%;
    height: 100px;
    background-color: #ef5555;
    position: relative;
    top: 35.625rem;
    right: 20.75%;
  }
}

@media only screen and (max-width: 1000px) {
  #image__section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image__container {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    filter: brightness(50%);
  }

  .image__box {
    width: 98%;
    height: 6.25rem;
    background-color: var(--blue);
    position: relative;
    left: 1%;
    z-index: -1;
    bottom: 3.25rem;
  }

  .image__text__container {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .image__text {
    font-weight: 700;
    width: 90%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
  }

  .image__text h1 {
    font-size: 2.125rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 1.125rem;
  }

  .image__text button {
    font-size: 0.875rem;
    width: 25%;
  }

  .about__image__container {
    width: 80%;
  }

  .about__text {
    width: 80%;
    gap: 1.725rem;
  }

  .card {
    width: 37%;
    height: 33rem;
  }

  .card__box {
    width: 35.5%;
    top: 33.625rem;
    right: 18.725%;
  }

  #services__section {
    width: 95%;
    gap: 2.5rem;
  }

  .services {
    display: flex;
    justify-content: space-between;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    gap: 1.875rem;
  }

  h4 {
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 1448px) {
  .links {
    width: 40%;
    gap: 0.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav .icon {
    width: 33.3%;
  }
}

@media only screen and (max-width: 666px) {
  .form {
    width: 80%;
  }

  .image__text__container {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 60%;
  }

  .image__text h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 1rem;
  }

  .image__text button {
    font-size: 0.875rem;
    width: 25%;
  }

  .about__image__container {
    width: 80%;
  }

  .about__text {
    width: 90%;
    gap: 1.5rem;
    font-size: 0.875rem;
  }

  .card__carousel {
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    left: 20%;
  }

  .card {
    width: 60%;
    height: 35rem;
    margin-right: 575rem;
  }

  .card__box {
    width: 58.5%;
    height: 100px;
    background-color: #ef5555;
    position: relative;
    top: 35.625rem;
    right: 0;
  }

  #services__section {
    width: 95%;
    gap: 2.5rem;
  }

  .services {
    display: flex;
    justify-content: space-between;
  }

  .first,
  .second,
  .third {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
    gap: 1.875rem;
  }

  h4 {
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: 1248px) {
  .copyright {
    width: 50%;
  }
}

@media only screen and (max-width: 374px) {
  .copyright {
    width: 70%;
  }
}

@media only screen and (max-width: 566px) {
  .nav .icon {
    width: 40%;
  }

  .image__text__container {
    top: 50%;
  }

  .image__text h1 {
    font-size: 1.875rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.875rem;
  }

  .image__text button {
    font-size: 0.725rem;
    width: 25%;
  }
}

@media only screen and (max-width: 462px) {
  .nav {
    width: 98%;
  }

  .nav .icon {
    width: 40%;
  }

  .image__text h1 {
    font-size: 1.725rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.725rem;
  }

  .image__text button {
    font-size: 0.625rem;
    width: 25%;
  }

  .services {
    flex-direction: column;
    gap: 2rem;
  }

  .about__image__container {
    width: 100%;
  }

  .about__text {
    width: 90%;
    gap: 1.25rem;
    font-size: 0.725rem;
  }

  .card__carousel {
    left: 15%;
  }

  .card {
    width: 70%;
    height: 30rem;
  }

  .card__box {
    width: 68.5%;
    height: 100px;
    background-color: #ef5555;
    position: relative;
    top: 30.625rem;
    right: 0;
  }
}

@media only screen and (max-width: 420px) {
  .image__text__container {
    top: 40%;
  }

  .image__text h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.625rem;
  }

  .image__text button {
    font-size: 0.5rem;
    width: 25%;
  }
}

@media only screen and (max-width: 336px) {
  .news__header {
    font-size: 1.875rem;
  }

  .inputs {
    flex-direction: column;
    align-items: center;
  }

  .nav .icon {
    width: 50%;
  }

  .footer__links {
    flex-direction: column;
  }

  .about__text {
    width: 95%;
    gap: 1rem;
  }

  .about__text p {
    font-size: 0.725rem;
  }

  .about__text button {
    width: 50%;
  }

  .card__carousel {
    left: 5.75%;
  }

  .card {
    width: 90%;
    height: 20rem;
  }

  .card__box {
    width: 88.5%;
    height: 100px;
    background-color: #ef5555;
    position: relative;
    top: 20.625rem;
    right: -0.75%;
  }

  .image__text h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.5rem;
  }

  .image__text button {
    font-size: 0.325rem;
    width: 25%;
  }
}
