.image__container {
  width: 100%;
}

.image {
  width: 100%;
  height: 48.75rem;
  object-fit: cover;
  position: relative;
  top: 2.5rem;
  filter: brightness(50%);
}

.image__box {
  width: 98%;
  height: 6.25rem;
  background-color: var(--blue);
  position: relative;
  left: 1%;
  z-index: -1;
  bottom: 3.125rem;
}

.image__text__container {
  width: 60%;
  height: 48.75rem;
  position: absolute;
  top: 25.75rem;
  left: 12.5%;
}

.image__text {
  font-weight: 700;
  color: var(--white);
  width: 60%;
  font-family: "Montserrat", sans-serif;
}

.image__text h1 {
  font-size: 3.875rem;
  line-height: 76px;
  text-transform: uppercase;
}

.image__text p {
  font-size: 1rem;
  line-height: 160%;
  margin-top: 1.25rem;
  opacity: 0.7;
}

.image__text button {
  width: 20%;
  height: 2.625rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 160%;
  margin-top: 1.25rem;
  color: var(--white);
}

@media only screen and (max-width: 1312px) {
  .image__container {
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    top: 0;
  }

  .image__box {
    width: 98%;
    left: 1%;
    bottom: 5.125rem;
  }

  .image__text__container {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    left: 0;
  }

  .image__text {
    width: 50%;
    height: 100%;
  }

  .image__text h1 {
    font-size: 3.25rem;
    line-height: 1.4;
  }

  .image__text p {
    font-size: 1.5rem;
  }

  .image__text button {
    width: 33.3%;
    height: auto;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .image__text {
    width: 90%;
    height: 100%;
  }

  .image__text h1 {
    font-size: 2.75rem;
  }

  .image__text p {
    font-size: 1.25rem;
  }

  .image__text button {
    font-size: 1.25rem;
    width: 25%;
  }
}

@media only screen and (max-width: 780px) {
  .image__text__container {
    top: 40%;
  }
}

@media only screen and (max-width: 666px) {
  .image__text h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 1rem;
  }

  .image__text button {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 572px) {
  .image__text h1 {
    font-size: 1.875rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.875rem;
  }

  .image__text button {
    font-size: 0.725rem;
    width: 25%;
  }
}

@media only screen and (max-width: 540px) {
  .image__text__container {
    top: 35%;
  }
}

@media only screen and (max-width: 462px) {
  .image__text h1 {
    font-size: 1.725rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.725rem;
  }

  .image__text button {
    font-size: 0.625rem;
    width: 25%;
  }
}

@media only screen and (max-width: 420px) {
  .image__text h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.625rem;
  }

  .image__text button {
    font-size: 0.5rem;
    width: 25%;
  }
}

@media only screen and (max-width: 366px) {
  .image__text h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .image__text p {
    font-size: 0.5rem;
  }

  .image__text button {
    font-size: 0.325rem;
    width: 25%;
  }
}
