.nav {
  width: 75%;
  max-height: 4.25rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .icon {
  width: 15%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.3%;
  flex-wrap: wrap;
}

.search__input {
  border: none;
  box-shadow: 0px 3px 1px var(--shadow);
  width: 13.125rem;
  min-height: 1.875rem;
  font-size: 0.875rem;
}

.search__icon {
  position: relative;
  right: 1.25rem;
  top: 0.25rem;
}

.container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 4rem;
  height: 1rem;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 0.5rem;
}

.change .bar1 {
  transform: translate(0, 22px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -22px) rotate(45deg);
}

@media only screen and (max-width: 1312px) {
  .nav .icon {
    width: 25%;
  }

  .search__input,
  .search__icon {
    display: none;
  }

  .links {
    flex-direction: column;
    display: none;
    text-align: center;
  }

  .links a {
    margin: 0.5rem 0;
  }

  .visible__links {
    display: block;
  }

  .container {
    display: block;
  }
}

@media only screen and (max-width: 1448px) {
  .links {
    width: 40%;
    gap: 0.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav .icon {
    width: 33.3%;
  }
}

@media only screen and (max-width: 572px) {
  .nav .icon {
    width: 40%;
  }
}

@media only screen and (max-width: 462px) {
  .nav {
    width: 98%;
  }

  .nav .icon {
    width: 40%;
  }
}

@media only screen and (max-width: 336px) {
  .nav .icon {
    width: 50%;
  }
}
